* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #f0ebf8;
}

p, label {
    color: #444;
}

input[type="checkbox"],
input[type="radio"]{
  border: initial;
  padding: 0;
  width: auto;
}

input {
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

input[type="text"],
input[type="number"],
input[type="date"],
input[type="file"],
textarea {
    width: 400px;
}

textarea {
    padding: 10px 5px;
}


.form-header {
    border-bottom: 1px solid #DFDFDF;
    height: 45px;
}

.form-header p {
    color: blueviolet;
    border-bottom: 2px solid blueviolet;
    width: 100px;
    text-align: center;
    margin: 0 auto;
    text-transform: uppercase;
    height: 45px;
    line-height: 45px;
}

.form-body {
    padding: 30px;
}

.form-title {
    margin-bottom: 15px;
}

.form-body p {
    margin-bottom: 20px;
}

.required-field {
    color: red
}

.box-input {
    margin-bottom: 35px;
}

.block {
    display: block;
}

.optional-box {
    display: inline-block;
    margin: 0 30px 30px 0;
}

.optional-list li {
  display: inline-block;
  width: 45%;
  margin-bottom: 6px;
  list-style: none;
}

.box-input p {
    margin-bottom: 15px;
}

.header {
    background-color: blueviolet;
    font-size: larger;
    height: 160px;
    padding: 20px;
    position: relative;

}

.header h3 {
    color: #fff;
    margin-top: 0;
}

.form-container {
    background-color: #fdfdfd;
    width: 60%;
    margin: 0 auto;
    position: relative;
    top: -62px;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    margin-left: 50px;

}



textarea {
    display: block;
    height: 70px;
    width: 523px;
}


.btn-submit {
    background-color: blueviolet;
    color: #fff;
    border: 2px solid transparent;
    width: 150px;
    height: 50px;
    cursor: pointer;
    text-transform: uppercase;
    transition: 1.0;
}

.btn-submit:hover {
    background-color: #fff;
    border-color: blueviolet;
    color: blueviolet;
}